/*General rules*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white;
    background-color: black;
    opacity: 0.9;
}

.body {
    margin: 0.5% 15% 0 15%;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 22px;
}

footer{
    margin: 4% 5% 4% 5%;
}

/*Nav bar*/

header {
    margin: 0.5% 15% 0 12%;
    display: flex;
    justify-content: space-between;
    text-align: end;
    height: 69px;
    width: 75%;
}

.logo {
    color: white;
    width: 150px;
    height: 50px;
}

nav {
    display: inline-flex;
}

a {
    padding: 0 10px;
    color: seashell;
    text-decoration: underline;
}

a:hover {
    color:lightseagreen;
    cursor: pointer;
    font-size: large;
}

/*Mission Section*/

.Mission {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./img-mission-background.jpg);
    height: 800px;
    opacity: 0.6;
    border: 0.5em solid white;
}

.missiont {
    background-color: black;
    justify-content: center;
    text-align: center;
    width: 1200px;
}

.mt {
    font-size: 35px;
}


/*Products Section*/

.Products{
    text-align: center; 
    margin: 30px 0 30px 0;
    height: 750px;
}

.offer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1000px;
}

.innerOffer{
    margin: 10px 0;
    text-decoration: underline;
    font-size: 18px;
}

.innerOffer:hover {
    color:lightseagreen;
    font-size: 20px;
    cursor: pointer
}

.tom-pic{
    width: 300px;
    height: 200px;
    border: 0.2em solid white
}

.tomtitle{
    font-size: 40px;
}

/*Location Section*/

.Locations{
    text-align: center;
    height: 600px;
    background-image: url(img-locations-background.jpg);
    opacity: 0.6;
    border: 0.5em solid white;
}

.locations2{
    color: black;
    font-weight: bolder;
    font-size: larger;
}

.address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin-top: 30px;
    height: 400px;
}

.address2{
    padding: 0 80px;
    background-color: black;
}

.locationt {
    text-decoration: underline;
}

.locationt:hover {
    color:lightseagreen;
    font-size: 35px;
    cursor: pointer
}


/*Footer Section*/

.contact {
    text-align: center;
}

.contactinfo:hover {
    color:lightseagreen;
    cursor: pointer;
    font-size: 22.5px;
}

/*This is a test*/